<!doctype html>
{% load staticfiles %}
<!--suppress ALL -->

<html lang="en">
	<head>
		<link rel="shortcut icon" href="{% static "favicon.ico"%}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static "css/base.css"%}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#33b5e5">
		<link rel="icon" sizes="192x192" href="{% static "img/small logo.png"%}">
		{% block extrahead %}
		{% endblock %}
		
	</head>

	<body>
		<main role="main">
			<nav class="navbar-expand-md navbar-dark bg-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="navbar-brand" href="/">
							<img src="{% static "img/small logo.png"%}" alt = "Eventually Logo" width="30" height="30" class="d-inline-block align-top">
						</a>
						
						<a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="/event/new">Create Event</a>
						{% if user.is_authenticated %}
							<a class="nav-item nav-link" href="/event/new_public">Create Public Event</a>
						{% endif %}
						
						<a class="nav-item nav-link disabled" href="/event/key">Respond to Invite</a>
						{% if user.is_authenticated %}
							<a class="nav-item nav-link float-right" href="/accounts/profile">Profile</a>
							<a class="nav-item nav-link float-right" href="/accounts/profile/groups/new">Create Group</a>
							<a class="nav-item nav-link float-right" href="/accounts/logout">Logout</a>
							{% if user.id == 1 %}
								<a class="nav-item nav-link float-right" href="/admin">Admin</a>
							{% endif %}
						{% else %}
							<a class="nav-item nav-link float-right" href="/accounts/login">Login</a>
							<a class="nav-item nav-link float-right" href="/accounts/register">Register</a>
						{% endif %}
					</div>
				</div>
			</nav>

			<div class="container vertical-centre">
				<div class="container" >
					<br class="row">
					<div class="col-md-10">
						{% block content %}
						{% endblock %}
						<br></br><br></br>
					</div>
				</div>
			</div> <!-- /container -->
			</div>

			<nav class="navbar fixed-bottom">
				<!--/.Footer Links-->
						<a href="https://github.com/JimJam707/Eventually">GitHub Repository</a></li>

				<!--Copyright-->
				<div class="footer-copyright">
					<div class="container-fluid">
						© 2018 Copyright: James Luckett</a>
					</div>
				</div>
				<!--/.Copyright-->

			</nav>
		</main>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	</body>
</html>