<!-- \templates\event.html -->
{% extends 'base.html' %}
{% load staticfiles %}
<html>
	{% block content %}
		<link rel="stylesheet" href="{% static "css/event.css"%}">
		<title>Eventually - {{ event.event_name }} (Details)</title>
		<h1>Event Details</h1>
		<h4>Make sure to copy the url to keep the event!</h4>


		<div class="event-entry">
			<h2>{{ event.event_name }}</h2>
			<p><b>Date:</b> {{ event.event_date }}</p>
			<p><b>Date Created:</b> {{ event.event_date_created }}</p>
			<p><b>Description:</b> {{ event.event_description }}</p>
		</div>

		<h5>Guest List</h5>
		{% for g in guest %}
            <b><p class = {% if g.seen and g.going%} "seen-going-guest" {%elif g.seen%} "seen-guest" {%elif g.going%} "going-guest" {%else%} "unseen-guest" {%endif%}>{{ g.email_models }}</b> -
				{% if g.going %} Going {% else %} Not Going {% endif %}/{% if g.seen %} Seen {% else %} Not Seen {% endif %}
			<button class="btn btn-outline-primary ml-2">Copy Invite</button> <button class="btn btn-outline-danger"">Delete Guest</button>
		{% endfor %}
	<br></br>
		<a href = "./delete"><button class="btn btn-danger">Delete Event</button></a>
	{% endblock %}
</html>