<!-- \templates\home.html -->
{% extends 'base.html' %}
{% load staticfiles %}

<html>
	{% block content %}
		<title>Eventually</title>
	<p></p>
		<img src="{% static "img/logo.png"%}" style width=60%>
		<h2>Public Event List</h2>
	<hr>
		<ul>
			{% for event in object_list %}
				{% if event.event_public and not event.event_paused and not event.event_closed %}
					<li><a href="{% url 'event_public_invite' event.pk %}">{{ event.event_name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% if user.is_authenticated %}
			<h2>{{ user.username }}'s Events</h2>
			<hr>
			<ul>
			{% for event in object_list %}
				{% if event.event_creator_id == user.id %}
					{% if event.event_public %}
						<li><a href="{% url 'event_public_invite' event.pk %}">{{ event.event_name }}</a></li>
					{% else %}
						<li><a href="{% url 'event_public_detail' event.pk event.event_key%}">{{ event.event_name }}</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
			</ul>
		{% endif %}
	{% endblock %}
</html>