<!-- \templates\event.html -->
{% extends 'base.html' %}
{% load staticfiles %}
<html>
	{% block content %}
		<link rel="stylesheet" href="{% static "css/event.css"%}">
		<title>Eventually - {{ event.event_name }} (Details)</title>

		{% if event.event_creator_id == 0 %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
  			<strong>Event is unclaimed</strong>, please login/create an account and claim it below so that no one else may see this!
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
 			 </button>
		</div>
		{% endif %}
		<h1>Event Details</h1>
		<hr>
		<div class="event-entry">
			<p class="h2">{{ event.event_name }}</p>
			<p><b>Date:</b> {{ event.event_date }}</p>
			<p><b>Date Created:</b> {{ event.event_date_created }}</p>
			<p><b>Description:</b> {{ event.event_description }}</p>
		</div>

		<p><b>Guest List:</b></p>
		{% for g in guests %}
			<b><p class =
				{% if g.seen and g.going %} "seen-going-guest"
				{% elif g.seen %} "seen-guest"
				{% elif g.going %} "going-guest"
				{% else %} "unseen-guest" {% endif %}>{{ g.email_address }}</b> -
				{% if g.going %} Going
				{% else %} Not Going
				{% endif %}/{% if g.seen %} Seen
				{% else %} Not Seen
				{% endif %}

			<button data-clipboard-text="{{ url | add:g.invite_key }}" class="btn btn-outline-primary ml-2">
				Copy Invite
			</button>
			<a href="{{url}}detail/{{ event.event_key }}/delete/{{ g.invite_key }}" class="btn btn-outline-danger">
				Delete Guest
			</a>
		{% endfor %}
		<hr>
		{% if user.is_authenticated and event.event_creator_id == 0 %}
			<a href = "claim" class = "btn btn-warning">Claim Event</a>
		{% else %}
			<button data-clipboard-text="{{ url }}detail/{{ event.event_key }}" class="btn btn-primary ml-2">
				Copy URL
			</button>
		{% endif %}
		<a href = "delete"><button class="btn btn-danger">Delete Event</button></a>
		
	<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
	<script>
	var btn = document.getElementsByClassName('btn');
    var clipboard = new ClipboardJS(btn);
	</script>
	{% endblock %}
</html>