<!-- \templates\invite.html -->
{% extends 'base.html' %}
{% load staticfiles %}
<html>
	{% block content %}
		<title>Eventually - {{ event.event_name }} ({{ event_line.guest_id }})</title>
        <link rel="stylesheet" href="{% static "css/event.css"%}">

		<h1>Event Details</h1>
		<hr>

		<div class="event-entry">
			<h2>{{ event.event_name }}</h2>
			<p><b>Date:</b> {{ event.event_date }}</p>
			<p><b>Date Created:</b> {{ event.event_date_created }}</p>
			<p><b>Description:</b> {{ event.event_description }}</p>
		</div>
		<hr>
		<p></p>
		<form method="post" >
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-success ml-2" type="submit">Submit</button>
		</form>
	{% endblock %}
</html>