<!-- \templates\invite.html -->
{% extends 'base.html' %}
{% load staticfiles %}
<html>
	{% block content %}
		<title>Eventually - {{ event.event_name }} ({{ event_line.guest_id }})</title>
        <link rel="stylesheet" href="{% static "css/event.css"%}">
		<h1>Event Details</h1>
		<hr>
		<div class="event-entry">
			<h2>{{ event.event_name }}</h2>
			<p><b>Date:</b> {{ event.event_date }}</p>
			<p><b>Date Created:</b> {{ event.event_date_created }}</p>
			<p><b>Description:</b> {{ event.event_description }}</p>
		</div>
{% for event_line in event_lines %}
	{{ event_line }}<hr>
{% endfor %}
		<h3>Guest List</h3>
		{% for event_line in event_lines %}
			{% with event_line.guest_id as g %}
			<b><p class =
				{% if event_line.seen and event_line.going %} "seen-going-guest"
				{% elif event_line.seen %} "seen-guest"
				{% elif event_line.going %} "going-guest"
				{% else %} "unseen-guest" {% endif %}>{{ g.email_address }}</b> -
				{% if event_line.going %} Going
				{% else %} Not Going
				{% endif %}/{% if event_line.seen %} Seen
				{% else %} Not Seen
				{% endif %}
			{% endwith %}
		{% endfor %}

		<hr>
			<form method="post" >
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-success ml-2" type="submit">Submit</button>
		</form>
	{% endblock %}

</html>