<!-- \templates\new_public_event.html -->

{% extends 'base.html' %}
<html>
	{% block content %}
		<title>Eventually - Create Public Event</title>
		<div class="alert alert-primary" role="alert">
  			This event will be public, meaning it will appear on the front-page to all users!
		</div>
		<h2>Eventually - Create Public Event</h2>
		<form method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-success ml-2" type="submit">Save</button>
			<a href = ""><button class="btn btn-danger ml-2">Delete</button></a>
		</form>
	{% endblock %}
</html>