<!-- \templates\event.html -->
{% extends 'base.html' %}
{% load staticfiles %}
<html>
	{% block content %}
		<link rel="stylesheet" href="{% static "css/event.css"%}">
		<title>Eventually - {{ event.event_name }} (Details)</title>

		<div>
			<div class="alert alert-primary alert-dismissible fade show" role="alert">
				<strong>This event is public</strong>, it is currently visable on the home page to all users.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				 </button>
			</div>

			{% if event.event_state == 0 %} <!– Open –>

			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>This event is open</strong>, it is still taking responses.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				 </button>
			</div>

			{% elif event.event_state == 1 %} <!– Paused –>

			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>This event is paused</strong>, it is not currently taking responses.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				 </button>
			</div>

			{% elif event.event_state == 2 %} <!– Closed –>

			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>This event is closed</strong>, it will not currently take further responses.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				 </button>
			</div>
			{% endif %}
		</div> <!– Alerts –>

		<h1>Event Details</h1>
		<hr>
		<div class="event-entry">
			<h2>{{ event.event_name }}</h2>
			<p><b>Date:</b> {{ event.event_date }}</p>
			<p><b>Date Created:</b> {{ event.event_date_created }}</p>
			<p><b>Description:</b> {{ event.event_description }}</p>
		</div>

		{% if interested_lines|length != 0 %}
			<p><b>Interested List:</b></p>
			<ul>
			{% for line in interested_lines %}
				<li>{{ line.guest_id }}</li>
			{% endfor %}
			</ul>
		{% endif %}

		<hr>
		<div>
			{% if event.event_state == 0 %} <!– Open –>
				<button class="btn btn-success" disabled>Open Event</button>
				<button class="btn btn-warning">Pause Event</button>
				<button class="btn btn-danger">Close Event</button>
			{% elif event.event_state == 1 %} <!– Paused –>
				<button class="btn btn-success">Open Event</button>
				<button class="btn btn-warning" disabled>Pause Event</button>
				<button class="btn btn-danger">Close Event</button>
			{% elif event.event_state == 2 %} <!– Closed –>
				<button class="btn btn-success">Open Event</button>
				<button class="btn btn-warning">Pause Event</button>
				<button class="btn btn-danger" disabled>Close Event</button>
			{% endif %}
		</div> <!– Buttons –>
	{% endblock %}
</html>