<!-- \templates\registration/delete.html -->

{% extends 'base.html' %}
<html>
	{% block content %}
        <title>Eventually - Delete Group</title>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Deleting a group is permanent!</strong>, meaning it will disappear, forever!
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
 			 </button>
		</div>
		<h2>Delete Group</h2>
		<form method="post" >
			{% csrf_token %}
			{{form.user_confirmation}}
			<button class="btn btn-danger ml-2" type="submit">Confirm</button>
		</form>
	{% endblock %}
</html>