body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  display: flex;
}

h1 {
    color: navy;
}

.unseen-guest {
    color: grey;
}

.seen-guest {
    color: black;
}

.seen-maybe-guest {
    color: blue;
}

.seen-going-guest {
    color: green;
}

.seen-notgoing-guest {
    color: red;
}


.going-guest { /*shouldn't really be possible but shows up in debug*/
    color: #3CBC3C;
}